  /* Base Styles –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* NOTE html is set to 62.5% so that all the REM measurements throughout Skeleton are based on 10px sizing. So basically 1.5rem = 15px :) */
  html {
    font-size: 62.5%;
    height: 100%;
  }  
  body {
    background-color: #111111;
    color: #d8d8d8;
    margin: 0;
    padding: 0;
  } 
  /* Typography –––––––––––––––––––––––––––––––––––––––––––––––––– */
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
    font-family: "Open Sans Semi Bold";
    letter-spacing: 2.1px;
    font-size: 21px;
    padding-left: 12px;
  }
  h1 {
    font-size: 4.5rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
    margin-bottom: 2rem;
  }
  h2 {
    font-size: 3.6rem;
    line-height: 1.25;
    letter-spacing: -.1rem;
    margin-bottom: 1.8rem;
    margin-top: 1.8rem;
  }
  /* Graph Layout ––––––––––––––––––––––––––––––––––––––––––––––––––*/
  .wrapper{
    width: 100%;
    overflow: hidden; 
  }
  .current-data{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 30%;
    float:left; 
  }
  .charts{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 70%;
    float:right; 
  }
  .chart-frame { 
    flex-grow: 1; 
    border: none;
    margin: 0; 
    padding: 0; 
    height: 50rem;
  }
  .data-frame { 
    flex-grow: 1; 
    border: none;
    margin: 0; 
    padding: 0; 
    height: 40rem;
  }
  